<?xml version="1.0"?>

<launch>
  
  <!-- start Lidar -->
  <include file="$(find charlie_launch)/launch/rplidar_a3.launch"/>
  
  <!-- start rviz -->
  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find charlie_launch)/rviz_cfg/lidar_hector_cfg.rviz"/>
    
  <!-- Hector -->
  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>
  <param name="/use_sim_time" value="false"/>

  <include file="$(find charlie_launch)/launch/mapping_default.launch"/>

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

</launch>
